*.mo
*.pyc
*.pyo
*.swp
*~

*/build/*.cache*
httpd/conf/httpd.conf
httpd/conf/languages.conf
httpd/conf/languages.conf.in
httpd/logs/*_log
httpd/run/*.pid
*/out
*/data/templates/translations.html

# Antora build caches and directories for docs.fp.o
build
cache
public
