<!DOCTYPE html>
<html lang="${lang}"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
    <head py:match="head" py:attrs="select('@*')">
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
      <meta name="theme-color" content="#3c6eb4" />
      <meta property="og:title" content="Get Fedora" />
      <meta property="og:url" content="http://getfedora.org" />
      <meta property="og:image" content="https://getfedora.org/static/images/fedora.png" />
      <meta property="og:description" content="Choose Freedom. Choose Fedora. Pick a flavor of Fedora streamlined for your needs, and get to work right away." />
      <meta name="twitter:card" content="summary_large_image"/>
      <meta name="twitter:site" content="@fedora"/>
      <meta name="twitter:title" content="Choose Freedom. Choose Fedora."/>
      <meta name="twitter:description" content="Pick a flavor of Fedora streamlined for your needs, and get to work right away."/>
      <meta name="twitter:image" content="https://getfedora.org/static/images/fedora.png"/>
      <link rel="shortcut icon" href="${path}/static/images/favicon.ico" />
        <xi:include href="css.html" />
        <meta py:replace="select('*|text()')" />
    </head>
    <py:match path="body" once="true">
    <body py:attrs="select('@*')">
        <!-- site-content -->
        <div id="site-content">
            ${select('*')}
        </div>
        <!-- /site-content -->
        <!-- bottom -->
        <div id="bottom">
            <xi:include href="footer.html" />
        </div>
        <!-- /bottom -->
        <xi:include href="js.html" />
    </body>
    </py:match>
</html>
