<!DOCTYPE html>
<html lang="${lang}"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <div class="moretofedora text-center">
    <div class="container">
      <div class="row intro">
        <div class="col-md-12">
          <h3 class="thin">${Markup(_('There\'s more to &lt;img class="inlinelogo" src="%s" alt="Fedora Logo"&gt;') % ('../../static/images/fedora-logotext.png'))}</h3>
        </div>
      </div>
    </div>
  </div>
</html>
