<!DOCTYPE html>
<html lang="${lang}"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

<!-- Main Header -->
  <div class="container">
    <div class="row product-header">
      <div class="col-xs-12 text-center">
       <a href="${path}/${lang}/"><img src="${path}/static/images/alt-logo.png" alt="Fedora Alt Logo" /></a>
       <p class="thin productlogo">${_('Alternative versions and formats of Fedora for download')}</p>
      </div>
    </div>
  </div>

</html>
