<!DOCTYPE html>
<html lang="${lang}"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

    <div class="h-body text-center product-box">
      <div class="product-atomic text-center">
        <a class="greyscale" href="https://getfedora.org/${lang}/atomic" alt="Fedora Atomic"></a>
        <a class="color" href="https://getfedora.org/${lang}/atomic" alt="Fedora Atomic"></a>
      </div>
      <h4 class="productname uppercase">${_('Atomic')}</h4>
    </div>

</html>
