<!-- Scientific Header -->
<!DOCTYPE html>
<html lang="${lang}"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

    <div class="container">
      <div class="row product-header">
        <div class="col-xs-6 text-left">
        <a href="${path}/${lang}/scientific/"><img class="productlogo hidden-xs" src="${path}/static/images/scientific-header.png" alt="Scientific" /><img class="productlogo visible-xs" src="${path}/static/images/scientific.png" alt="Scientific" /></a>
        </div>
        <div class="col-xs-6 text-right">
        <a href="${path}/${lang}/"><img class="fedoralogotext" src="${path}/static/images/labs.png" alt="Labs Text" /></a>
        <!-- Image Attribution: "Bio Lab" by Amy Loves Yah on Flickr. Used under a CC-BY 2.0 license. URL: https://www.flickr.com/photos/amylovesyah/4528869007  -->
        </div>
      </div>
    </div>

</html>
