<!-- Jam Header -->
<!DOCTYPE html>
<html lang="${lang}"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

    <div class="container">
      <div class="row product-header">
        <div class="col-xs-6 text-left">
        <a href="${path}/${lang}/jam/"><img class="productlogo hidden-xs" src="${path}/static/images/jam-header.png" alt="Jam" /><img class="productlogo visible-xs" src="${path}/static/images/jam.png" alt="Jam" /></a>
        </div>
        <div class="col-xs-6 text-right">
        <a href="${path}/${lang}/"><img class="fedoralogotext" src="${path}/static/images/labs.png" alt="Labs Text" /></a>
	<!-- Image Attribution: "the audience is shaking (CC)" by Martin Fisch (marfis75 on Flickr.) Used under a CC-BY-SA 2.0 license. URL: https://www.flickr.com/photos/marfis75/7968954274/ -->
        </div>
      </div>
    </div>

</html>
