<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

<div class="clear">&nbsp;</div>
<div class="grid_16 official-fp-link">
    <p>${_('There\'s more to Fedora. Visit the official Fedora project website at:')}</p>
    <p><a href="http://www.fedoraproject.org">http://www.fedoraproject.org</a></p>
</div>
<div class="clear"></div>
<div class="prefix_4 grid_12">
    <p class="contact-webmaster">${Markup(_('Want to add your local community\'s Fedora website to this directory? &lt;a href="%s"&gt;Email the Fedora Websites team &lt;/a&gt;') % 'mailto:webmaster@fedoraproject.org')}</p>
</div>
<div class="clear"></div>
</html>
