<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <py:def function="printblock()">
            <div class="community-sites-${region} grid_7">
              <div class="grid_2 alpha screenshot ${region}"></div>
              <div class="grid_4 omega"></div>
              <dl>
                <dt>${country['name']}</dt>
                <dd>${country['title']}</dd>
                <dd><a href="${country['url']}">${country['url']}</a></dd>
              </dl>
            </div>
  </py:def>

          <!-- Left Column -->
          <div class="prefix_2 grid_7 ${region}">
            <py:for each="country in contries[:int(index)]">
               ${printblock()}
            </py:for>
          </div>

          <!-- Right Column -->
          <div class="grid_7 ${region}">
            <py:for each="country in contries[int(index):]">
               ${printblock()}
            </py:for>
          </div>

          <div class="clear">&nbsp;</div>

</html>
