<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  <div id="bottom">
    <div id="footer">
      <p class="copy">
      ${_('&amp;copy; %(year)s Red Hat, Inc. and others.  Please send any comments or corrections to the &lt;a href="mailto:webmaster@fedoraproject.org"&gt;websites team&lt;/a&gt;.') % {'year':'2014'}}}
      </p>
      <p class="disclaimer">
      ${_('The Fedora Project is maintained and driven by the community and sponsored by Red Hat.  This is a community maintained site.  Red Hat is not responsible for content.')}
      </p>
      <ul>
        <li class="first"><a href="http://fedoraproject.org/sponsors">${_('Sponsors')}</a></li>
        <li>${_('&lt;a href="http://fedoraproject.org/wiki/Legal:Main"&gt;Legal&lt;/a&gt;')}</li>
        <li>${_('&lt;a href="http://fedoraproject.org/wiki/Legal:Trademark_guidelines"&gt;Trademark Guidelines&lt;/a&gt;')}</li>
      </ul>
    </div>
  </div>
</html>
