<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  <script type="text/javascript" src="${relpath}/static/js/jquery-1.4.2.min.js"></script>
  <script type="text/javascript">
    function showGroup(group) {
      $("*.row").each(function () {
        $(this).hide();
      });
      $("#nodata").hide();
      if ($("*.row." + group).size() == 0){
        $("#nodata").fadeIn();
      } else {
        $("*.row." + group).each(function () {
          $(this).fadeIn();
        });
      }
    }
    $(document).ready(function (){
      $(window).load(function (){
        $("#grouplist").show();
      });
      $("*.group").click(
        function () {
          showGroup($(this).text());
        });
    });
  </script>
</html>
