<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  <div id="sidebar">
    <div id="nav">
      <h2>${_('Navigation')}</h2>
      <ul>
        <li><a href="${relpath}/index">${_('Home')}</a></li>
        <li><a href="${relpath}/about">${_('About')}</a></li>
        <li><a href="${relpath}/new">${_('New Project')}</a></li>
        <li><a href="${relpath}/faq">${_('Frequently Asked Questions')}</a></li>
        <li><a href="${relpath}/terms">${_('Terms of Use')}</a></li>
      </ul>
      <h2>${_('Website Language')}</h2>
      <form action="" method="GET">
        <div>
          <select name="lang">
            <xi:include href="translations.html" />
          </select>
          <input type="submit" value="${_('OK')}" />
        </div>
        <h2>${_('Hosting Sponsor')}</h2>
          <a href="http://osuosl.org/"><img src="${path}/static/images/sponsors/open_source_lab.png" alt="OSUOSL" /></a>
      </form>
    </div>
  </div>
</html>
