<!-- KDE Header -->
<!DOCTYPE html>
<html lang="${lang}"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

    <div class="container">
      <div class="row product-header">
        <div class="col-xs-6 text-left">
        <a href="${path}/${lang}/mate-compiz/"><img class="productlogo hidden-xs" src="${path}/static/images/mate-compiz-banner.png" alt="Fedora MATE-Compiz Desktop" /></a><a href="${path}/${lang}/mate-compiz/"><img class="productlogo visible-xs" src="${path}/static/images/mate-compiz.png" alt="Fedora MATE-Compiz Desktop" /></a>
        </div>
        <div class="col-xs-6 text-right">
        <a href="${path}/${lang}/"><img class="fedoralogotext" src="${path}/static/images/spins.png" alt="Spins Text" /></a>
        </div>
      </div>
    </div>

</html>