<!DOCTYPE html>
<html lang="${lang}"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <h3>${_('Other ways of obtaining media')}</h3>
  <!-- TODO: Should we omit this section altogether? -->
  <p>${Markup(_('You may purchase installation media for Fedora from &lt;a href="%s"&gt;online vendors&lt;/a&gt; or a &lt;a href="%s"&gt;local vendor&lt;/a&gt; in your area.') % ('https://fedoraproject.org/wiki/Distribution/OnlineVendors', 'https://fedoraproject.org/wiki/Distribution/LocalVendors'))}</p>

</html>
