<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
    <div class="container_12">
        <div class="grid_2 sitelinks">
            <dl>
                <dt>Fedora</dt>
                <dd><a href="${path}/${lang}/about-fedora">${_('About Fedora')}</a></dd>
                <dd><a href="http://fedoraplanet.org/">${_('Planet Fedora')}</a></dd>
                <dd><a href="//fedoramagazine.org">${_('Fedora Magazine')}</a></dd>
                <dd><a href="http://docs.fedoraproject.org/">${_('Documentation')}</a></dd>
                <dd><a href="https://fedoraproject.org/wiki/Fedora_Project_Wiki">${_('Fedora Wiki')}</a></dd>
                <dd><a href="http://fedoraproject.org/wiki/FedoraEvents">${_('Events')}</a></dd>
            </dl>
        </div>
        <div class="grid_2 sitelinks">
            <dl>
                <dt>${_('Download')}</dt>
                <dd><a href="http://fedoraproject.org/${lang}/get-fedora">${_('Get Fedora')}</a></dd>
                <dd><a href="http://fedoraproject.org/${lang}/get-fedora-all">${_('Full Download List')}</a></dd>
            </dl>
        </div>
        <div class="grid_2 sitelinks">
            <dl>
                <dt>${_('Support')}</dt>
                <dd><a href="http://fedoraproject.org/${lang}/get-help">${_('Get Help')}</a></dd>
                <dd><a href="irc://irc.libera.chat/#fedora">${_('IRC Help')}</a></dd>
                <dd><a href="https://admin.fedoraproject.org/mailman/listinfo/users">${_('Mailing List Help')}</a></dd>
                <dd><a href="http://ask.fedoraproject.org/">${_('Ask Fedora')}</a></dd>
                <dd><a href="http://docs.fedoraproject.org/">${_('Documentation')}</a></dd>
            </dl>
        </div>
        <div class="grid_2 sitelinks">
                <dl>
                    <dt>${_('Join')}</dt>
                    <dd><a href="http://fedoraproject.org/${lang}/join-fedora">${_('Join Fedora')}</a></dd>
                    <dd><a href="http://fedoraproject.org/wiki/SIGs">${_('Fedora SIGs')}</a></dd>
                    <dd><a href="https://admin.fedoraproject.org/accounts/">${_('Fedora Account System')}</a></dd>
                    <dd><a href="http://www.fedoracommunity.org/">${_('Fedora Community')}</a></dd>
                </dl>
        </div>
        <div class="grid_2 sitelinks">
            <dl>
                <dt>${_('Subprojects')}</dt>
                <dd><a href="http://fedoraproject.org/wiki/DocsProject">${_('Documentation')}</a></dd>
                <dd><a href="http://fedoraproject.org/wiki/L10N">${_('Translation')}</a></dd>
                <dd><a href="http://fedoraproject.org/wiki/Marketing">${_('Marketing')}</a></dd>
                <dd><a href="http://fedoraproject.org/wiki/Ambassadors">${_('Ambassadors')}</a></dd>
                <dd><a href="http://fedoraproject.org/wiki/Design">${_('Design')}</a></dd>
                <dd><a href="http://fedoraproject.org/wiki/Infrastructure">${_('Infrastructure')}</a></dd>
            </dl>
        </div>
        <div class="grid_2 sitelinks">
            <dl>
                <dt>&nbsp;</dt>
                <dd><a href="http://fedoraproject.org/wiki/Websites">${_('Websites')}</a></dd>
                <dd><a href="http://fedoraproject.org/wiki/I18N">${_('Internationalization')}</a></dd>
                <dd><a href="http://fedoraproject.org/wiki/NewsProject">${_('News')}</a></dd>
            </dl>
        </div>
        <div class="clear"></div>
        <div id="footer" class="grid_12">
            <a href="http://www.redhat.com/"><img class="rh-logo" src="${path}/static/images/sponsors/sidebar/redhat.png" alt="Red Hat Logo" /></a>
            <p class="sponsor">${_('Fedora is sponsored by Red Hat.')}</p>
            <p class="sponsor"><a href="https://www.redhat.com/en/technologies/linux-platforms/articles/relationship-between-fedora-and-rhel">${_('Learn more about the relationship between Red Hat and Fedora &gt;')}</a></p>
            <p class="copy">${_('&copy; %(year)s Red Hat, Inc. and others.') % {'year':'2014'}}</p>
            <p>&nbsp;</p>
            <p class="disclaimer">${_('The Fedora Project is maintained and driven by the community. This is a community maintained site. Red Hat is not responsible for content.')}</p>
            <ul>
                <li class="first"><a href="${path}/${lang}/contact">${_('Contact')}</a></li>
                <li><a href="/sponsors">${_('Sponsors')}</a></li>
                <li><a href="http://fedoraproject.org/wiki/Legal:Main">${_('Legal')}</a></li>
                <li><a href="http://fedoraproject.org/wiki/Legal:Trademark_guidelines">${_('Trademark Guidelines')}</a></li>
                <li><a href="http://fedoraproject.org/wiki/Legal:Licenses?rd=Legal/Licenses#This_Website">${_('Content License')}</a></li>
            </ul>
        </div>
        <div class="clear">&nbsp;</div>
    </div>
    ${Markup(_(buildstring))}
</html>
