<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
<meta http-equiv="refresh" content="0;url=https://getfedora.org" />
<div id="header">
    <div class="container_16">
        <div class="grid_6 prefix_10">
            <form action="" method="GET" class="lang-dropdown">
                <div style="display:inline-block;">
                <select name="lang">
                <xi:include href="translations.html" />
                </select>
                </div>
                <div style="display:inline-block;">
                <input type="submit" value="${_('OK')}" />
                </div>
            </form>
        </div>
        <div class="clear"></div>
        <div class="grid_9" id="site-heading">
            <h1><a href="/"><span id="logo">Fedora Project</span></a></h1>
            <h2>Freedom. Friends. Features. First.</h2>
        </div>
        <div class="grid_1">&nbsp;<!-- search filler --></div>
        <div class="grid_6" id="site-heading-rh">
            <a href="http://www.redhat.com">${_('A Red Hat-Sponsored Community Project')}&nbsp;&nbsp;<img id="rh-community" src="/static/images/sponsors/redhat-community.png" alt="" /></a>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!--
<div id="main-nav">
    <div class="container_16">
        <ul id="nav-menu">
            <li><a href="${path}/${lang}/">${_('Home')}</a></li>
            <li><a href="${path}/${lang}/features/">${Markup(_('Features &amp; Screenshots'))}</a></li>
            <li><a href="${path}/${lang}/get-fedora">${_('Download')}</a></li>
            <li><a href="${path}/${lang}/join-fedora">${_('Community')}</a></li>
            <li><a href="${path}/${lang}/using/">${_('Using Fedora')}</a></li>
            <li><a href="${path}/${lang}/get-help">${_('Help')}</a></li>
            <li><a href="/wiki" id="nav-special">${_('Contributors')}</a></li>
        </ul>
    </div>
</div>
-->

</html>
