<!-- Robotics Header -->
<!DOCTYPE html>
<html lang="${lang}"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <div class="jumbotron greybox">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <h2>${_('Support Resources')}</h2>
          </div>
        </div>
        <div class="row top-margin">
          <div class="col-md-4 col-xs-12 text-center">
            <h3><i class="fa fa-fw fa-lg header-icon fa-comments"></i>${_('Chat')}</h3>
            <p>${Markup(_('Users and developers are available in the &lt;a href="%s"&gt;#fedora-neuro&lt;/a&gt; IRC channel on &lt;strong&gt;irc.freenode.org&lt;/strong&gt; and the &lt;a href="%s"&gt;NeuroFedora&lt;/a&gt; supergroup on Telegram for real-time chat.') % ('http://webchat.freenode.net/?channels=fedora-neuro', 'https://t.me/NeuroFedora'))}</p>
          </div>
          <div class="col-md-4 col-xs-12 text-center">
            <h3><i class="fa fa-fw fa-lg header-icon fa-envelope-o"></i>${_('Email')}</h3>
            <p>${Markup(_('Users and developers are also available on the mailing list at &lt;a href="%s"&gt;neurofedora@lists.fedoraproject.org&lt;/a&gt;.') % ('https://lists.fedoraproject.org/admin/lists/neurofedora@lists.fedoraproject.org/'))}</p>
          </div>
          <div class="col-md-4 col-xs-12 text-center">
            <h3><i class="fa fa-fw fa-lg header-icon fa-book"></i>${_('Documentation')}</h3>
            <p>${Markup(_('Specific documentation is available in the &lt;a href="%s"&gt;Fedora Documentation&lt;/a&gt;.') % ('https://docs.fedoraproject.org/en-US/neurofedora/overview/'))}</p>
          </div>
        </div>
        <div class="row top-margin">
          <div class="col-xs-12 text-center">
            <h4><i class="fa fa-fw header-icon fa-question-circle"></i>${_('General Help Using Fedora')}</h4>
            <p>${Markup(_('Sometimes you may encounter an issue with this spin that you can get help with using general Fedora support resources. A list of resources is available at the &lt;a href="%s"&gt;Fedora &lt;strong&gt;Get Help&lt;/strong&gt; page&lt;/a&gt;.') % ('https://fedoraproject.org/wiki/Communicating_and_getting_help'))}</p>
          </div>
        </div>
      </div>
    </div>

</html>
