<!DOCTYPE html>
<html lang="${lang}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">

  <!-- Main Header -->

  <header>
    <nav class="navbar navbar-default flock-navbar navbar-index navbar-fixed-top" id="flocknav" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a id="index_menu" class="navbar-brand" href="/">
            <img src="${path}/static/images/flocklogo.png" height="30px"/>
          </a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav nav-pills navbar-right">
	          <li><a href="#welcome">${_('Welcome')}</a></li>
            <li><a href="#schedule"> ${_('Schedule')}</a></li>
            <li><a href="#comms"> ${_('Comms')}</a></li>
            <li><a href="#transport"> ${_('Transport')}</a></li>
            <li><a href="#venue"> ${_('Venue')}</a></li>
            <li><a href="#events"> ${_('Events')}</a></li>
            <li><a href="#sponsors"> ${_('Sponsors')}</a></li>
            <!-- fixme <li><a href="#photos"> ${_('Photos')}</a></li> -->
          </ul>
        </div>
      </div>
    </nav>
  </header>
</html>
