<!DOCTYPE html>
<html lang="${lang}"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <div class="jumbotron whiteregulation">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1 regulations-area">
          <p><em>${_('By clicking on and downloading Fedora, you agree to comply with the following terms and conditions.')}</em></p>
      	  <p class="text-justify">By downloading Fedora software, you acknowledge that you understand all of the following: Fedora software and technical information may be subject to the U.S. Export Administration Regulations (the “EAR”) and other U.S. and foreign laws and may not... <a id="regulations-trigger" href="#">${Markup(_('Read more &gt;'))}</a></p>
      	</div>
      </div>
    </div>
  </div>

</html>
