<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  <li> <a href="https://twitter.com/intent/tweet?text=%23fudconin11"><img src="${path}/static/images/twitter_footer.png"/> twitter </a> </li>
  <li> <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.facebook.com/groups/149052511841933/"><img src="${path}/static/images/facebook_footer.png"/> facebook </a></li>
  <li> <img src="${path}/static/images/rssfeed_footer.png"/> RSS Feed List </li>
</html>
