<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <div id="sub-menu">
    <li><a href="schedule.html">Schedule</a></li>
    <li><a href="ww.html">Date/Location</a></li>
    <li><a href="information.html">Information</a></li>
    <li><a href="speakers.html">Speakers</a></li>
  </div>
  
  <div id="header-menu">
    <img src="${path}/static/images/fudcon_india_2011_logo.png" width="40%" />
    <li><a href="index.html">Home</a></li>
    <li><a href="news.html">News</a></li>
    <li><a href="../EMEA/index.html">EMEA</a></li>
    <li><a style="background: #0956a4; padding-top: 30px; padding-bottom: 30px; margin-top: 7px; margin-left: -20px; margin-right: -20px; padding-right: 20px; padding-left: 20px; color: #fff; font-weight: bold;" href="../APAC/index.html">APAC</a></li>
    <li><a href="../LATAM/index.html">LATAM</a></li>
    <li><a href="../NA/index.html">NA</a></li>
  </div>
</html>

