body {
	font:16px/1.4 Arial, Helvetica, sans-serif;
	color:#666;
	background-color:#FFF;
	text-shadow:0 1px 0 #666;
}


#body-news {
        background-image: url("../images/header.png");
        background-repeat: repeat-x;
        font-family: arial, verdana;
}

#body-main {
	background-image: url("../images/splash_bg.png");
	background-repeat: repeat-x;
	font-family: arial, verdana;
}

#content {
	width: 950px;
	margin: auto;
}

#header-menu {
	height: 100px;
}

#header-menu li {
	border-right: 1px solid #555;
	display: inline;
	float: right;
	vertical-align: middle;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 7px;
	padding-right: 20px;
	padding-left: 20px;
}

#header-menu li a {
	text-decoration: none;
	color: #0956a4;
}

#slideshow {
	color: #fff;
	height: 300px;
}

#sl-text  {
	width: 300px;
}

#slideshow img {
	float: right;
	height: 380px;
}

#news-1 {
	width: 910px;
	height: 150px;
}

#news-1 h2 {
	color: #0956a4;
	font-weight: bold;
}

#news-1 img {
	float: left;
	margin-right: 15px;
}

#news-2 {
        width: 910px;
	padding-top: 7px;
}

#news-2 h2 {
        color: #fff;
        font-weight: bold;
	text-align: center;
}

#news-2 img {
        float: left;
        margin-right: 15px;
}

#footer {
	background: url("../images/splash_bg.png");
        background-repeat: repeat-x;
	background-position: 0 -100px;
	height: 60px;
	padding-top: 40px;
	text-align: center;
}

#footer li {
        display: inline;
        padding-right: 50px;
        padding-left: 50px;
	color: #fff;
	font-weight: bold;
}
