body{
  position:relative;
  margin-top:50px;
}

#welcome2 {
  background-image: url('/static/images/capecod-landscape.png');
  background-position: center bottom;
  background-repeat: no-repeat;
  padding-bottom: 15em !important;
}

#welcome {
  background: linear-gradient(to bottom, #3c6eb4 0%,#e2faf5 100%);
  padding-bottom: 0px;
}

.flock-navbar {
    font-family: "Montserrat";
    text-transform: uppercase;
    background-color: white;
}

.flock-navbar ul.nav {
    margin-top:0.6em;
}

.navbar {
  margin-bottom: 0 !important;
}

.nav > li > a {
  padding: 5px 10px;
  color: #294172;
  font-weight: 100;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active  {
  background-color: #ccc; */
  color: #3c6eb4;
}

.navbar-brand{
  padding: 10px 15px;
}

.flock-info-item {
  text-align: center;
}
.flock-info-item .fa {
  font-size: 40px;
}

a {
  color: #3c6eb4 !important;
  font-weight: bold;
}

h2 {
  color: #294172;
}

h1, h2, h3, h4, h5, h6
{
  font-family: Montserrat;
}

h1, h2, h3 {
  text-transform: uppercase;
}

.jumbotron
{
  margin-bottom:0;
}


.large-icon{
  color: white;
background: #326b63 none repeat scroll 0% 0%;
width: 100px;
margin-left: auto;
margin-right: auto;
border-radius: 100px;
height: 100px;
line-height: 100px;
font-size: 50px;
}

.non-jumbo{
  padding-top: 3em;
  padding-bottom: 3em;
}

.non-jumbo p{
  font-size: 1.1em;
}


.non-jumbo.light-blue{
  background-color: #cceaec;
  color:#3c6eb4;
}

.non-jumbo.blue{
  background-color: #3c6eb4;
  color: white;
}

.non-jumbo.blue a {
  color: white !important;
  text-decoration: underline !important;
}

.non-jumbo.blue h2 {
  color: #cceaec;
}

.non-jumbo.blue .large-icon{
  background: #326b63 none repeat scroll 0% 0%;
  color: white;
}

hr
{
  margin: 3em;
  border-top: 2px solid #428bca;
}

.blue hr
{
  border-top: 2px solid white;

}

#welcome
{
  padding-top: 1em;
}

/* calendar for schedule area */
.calendar th,
.calendar td {
  border-collapse: collapse;
  border: 1px solid black;
}

.calendar tr.flock td { 
   border-bottom: 1px solid white;
}
.calendar tr.flock td.flock { 
   border-bottom: 1px solid black; 
   background-color: #3c6eb4;
   color: white;
   font-weight: 700;
   font-size: xx-small;
}
.calendar tr + tr + tr td {
  padding: 2px 12px;
}
.calendar tr + tr + tr td.flock {
  background-color: #cceaec;
}
.calendar span {
  font-size: x-large;
  font-weight: 700;
  display: block;
  margin-top: -.3em;
}
.calendar th { 
  text-align: center; 
  background-color: #c2c2c2;
  color: white;
  font-weight: 700;

}
.calendar { text-transform: uppercase; }

table.calendar {
  margin-left: auto;
  margin-right: auto;
}
