body{
  position:relative;
  margin-top:55px;
}

.flock-groupimg {
  background: url('/static/images/index/flower-background.png') repeat;
}


.flock-navbar {
    font-family: "Montserrat";
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
}

.flock-navbar ul.nav {
    margin-top:0.6em;
}

.navbar {
  margin-bottom: 0 !important;
}

.nav > li > a {
  padding: 5px 10px;
}

.navbar-brand{
  padding: 10px 15px;
}

.flock-info-item {
  text-align: center;
}
.flock-info-item .fa {
  font-size: 40px;
}

h1, h2, h3, h4, h5, h6
{
  font-family: Montserrat;
}

.jumbotron
{
  margin-bottom:0;
}


.large-icon{
  color: white;
background: #428bca none repeat scroll 0% 0%;
width: 100px;
margin-left: auto;
margin-right: auto;
border-radius: 100px;
height: 100px;
line-height: 100px;
font-size: 50px;
}

.non-jumbo{
  padding-top: 3em;
  padding-bottom: 3em;
}

.non-jumbo p{
  font-size: 1.1em;
}


.non-jumbo.blue{
  background-color: #428bca;
  color:white;
}

.non-jumbo.blue a
{color: #444;}

.non-jumbo.blue .large-icon{
  background: white none repeat scroll 0% 0%;
  color: #428bca;
}

hr
{
  margin: 3em;
  border-top: 2px solid #428bca;
}

.blue hr
{
  border-top: 2px solid white;

}

#welcome
{
  padding-top: 1em;
}
