<!DOCTYPE html>
<html lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
    <link rel="stylesheet" type="text/css" href="${path}/static/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="${path}/static/css/bootstrap-theme.css" />
    <link rel="stylesheet" type="text/css" href="${path}/static/css/app.css" />
    <link rel="stylesheet" type="text/css" href="${path}/static/css/font-awesome.css" />
    <link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&amp;subset=latin,latin-ext" />
    <link rel='stylesheet' media="screen" href='https://fonts.googleapis.com/css?family=Montserrat' />

<!-- use RTL css for specific languages -->
    <link py:if="lang in ('ar', 'bal', 'fa', 'he')" rel="stylesheet" type="text/css" media="all" href="${path}/static/css/bootstrap-rtl.css" />

    <!--[if lt IE 7]>
    <style type="text/css">
        #wrapper
        {
            height: 100%;
            overflow: visible!important;
        }
    </style>
    <![endif]-->
</html>
